{% block nav %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/users">Manage Users</a></li>
        <li><a href="/tasks">Show Tasks</a></li>
    </ul>
{% endblock %}
